{% extends 'partials/base.html' %}
{% block title %}Case Generator - Bottom Case Preview{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Preview your Bottom Case</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item me-3">
                <a href="{{ url_for('projects.view_parameters', project_id=project_id, version=version) }}" class="btn btn-secondary">Back</a>
            </li>
            <li class="nav-item">
                <form action="{{ url_for('projects.confirm', project_id=project_id, version=version) }}" method="POST">
                    <button class="btn btn-primary" type="submit">Finish</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div id="container"></div>

<style>
    #container {
        height: calc(100vh - 56px);
    }
</style>
{% endblock %}

{% block js %}
{% include 'partials/gltf_render.html' %}
{% endblock %}