{% from "partials/render_field.html" import render_field %}

{% include "partials/editor_settings_nav.html" %}

<form
    hx-post="{{ request.full_path }}"
    class="container"
>
    {{ form.hidden_tag() }}
  
    {{ render_field(form.pcb_tolerance_x) }}
    {{ render_field(form.pcb_tolerance_y) }}
    {{ render_field(form.pcb_tolerance_z) }}
    {{ render_field(form.part_tolerance) }}
    {{ render_field(form.pcb_part_name) }}
    {{ render_field(form.exclude) }}
    {{ render_field(form.parts_without_tolerances) }}
  
    <div class="row">
        <button type="submit" class="offset-9 col-3 btn btn-secondary">Save</button>
    </div>
</form>