{% from "partials/render_field.html" import render_field %}

<form
    hx-post="{{ url_for('projects.board_settings_form', project_id=project_id) }}"
    hx-swap="outerHTML"
    class="container"
>
    <h4 class="mb-4">Board Settings</h4>

    {{ form.hidden_tag() }}
  
    {{ render_field(form.pcb_tolerance_x) }}
    {{ render_field(form.pcb_tolerance_y) }}
    {{ render_field(form.pcb_tolerance_z) }}
    {{ render_field(form.part_tolerance) }}
    {{ render_field(form.pcb_part_name) }}
    {{ render_field(form.exclude) }}
    {{ render_field(form.parts_without_tolerances) }}
  
    <div class="row">
        <button type="submit" class="offset-9 col-3 btn btn-primary">Save</button>
    </div>
</form>