<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a
            class="nav-link {{ 'active' if request.path == url_for('projects.board_settings_form', **request.view_args) }}"
            hx-get="{{ url_for('projects.board_settings_form', version=version, **request.view_args) }}"
        >Board Settings</a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link {{ 'active' if request.path == url_for('projects.part_settings_form', **request.view_args) }}"
            hx-get="{{ url_for('projects.part_settings_form', version=version, **request.view_args) }}"
        >Part Settings</a>
    </li>
</ul>