{% macro render_field(field) %}
<div class="mb-3 row">
    {% if field.type == "BooleanField" %}
    <div class="col-4 d-flex justify-content-end align-items-center text-end">
        <label class="form-check-label" for="{{ field.label.field_id }}">{{ field.label.text }}</label>
    </div>
    <div class="col-8">
        {{ field(class="form-check-input", **kwargs)|safe }}
    </div>
    {% else %}
    <div class="col-4 d-flex justify-content-end align-items-center text-end">
        <label for="{{ field.label.field_id }}">{{ field.label.text }}</label>
    </div>
    <div class="col-8 d-flex column-gap-1">
        {{ field(class="form-control", **kwargs)|safe }}
    </div>
    {% endif %}

    {% if field.errors %}
    <div class="mt-2 p-2 offset-4 col-8 alert alert-danger" role="alert">
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}