{% extends 'partials/base.html' %}
{% block title %}Case Generator - File Upload{% endblock %}

{% block content %}
<form action="{{ url_for('wizard.upload_board') }}" method="POST" enctype="multipart/form-data">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Upload PCB</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="mt-5 container">
        <div class="row">
            <div class="col-md-6">
                <label for="file" class="form-label">Select a KiCad PCB file or a KiCad project directory ZIP:</label>
                <input type="file" class="form-control" id="file" name="file" accept="application/zip,.kicad_pcb" required>
            </div>
        </div>
    </div>
</form>
{% endblock %}