{% extends 'partials/base.html' %}
{% block title %}Case Generator - Board Preview{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Preview your Board</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="{{ url_for('wizard.view_bottom_case') }}" method="POST" enctype="multipart/form-data">
                    <button class="btn btn-primary" type="submit">Continue</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div id="container"></div>

<style>
    #container {
        height: calc(100vh - 56px);
    }
</style>
{% endblock %}

{% block js %}
{% include 'partials/gltf_render.html' %}
{% endblock %}