body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* https://colorhunt.co/palette/a9907ef3debaabc4aa675d50 */
    --primary: 169 144 126;
    --primary-base: rgb(var(--primary) / 1);
    --primary-light: rgb(var(--primary) / 0.65);
    --secondary: 103 93 80;
    --secondary-base: rgb(var(--secondary) / 1);
    --secondary-light: rgb(var(--secondary) / 0.9);
    --grey: #ddd;
    --error: #dd1111;
    --text: #333;
    --text-light: #fff;
}
